@use '../../../../scss/abstracts/' as *;

.form {
  @include flex(center, center);
  flex-direction: column;
  padding: 3rem 4rem;
  border-radius: 10px;
  position: relative;

  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
  }

  @include themify($themes) {
    background-color: themed(mainColor);
    box-shadow: 0px 0px 10px 0px rgba(145, 34, 232, 0.25);
  }

  .closer {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: rgba(145, 34, 232, 1);
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
  }

  input,
  select {
    border: unset;
    border-radius: 2px;
    padding: 10px 20px;
    margin: 5px 0;
    width: 100%;
    @include themify($themes) {
      color: themed(textCard);
      background-color: themed(mainColor);
      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
    }
  }

  select {
    width: 100%;
    margin: 10px 30px;
    padding: 10px 20px;
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);

    option {
      padding: 10px 0;
      margin: 10px 0;
      height: 100%;
      border-radius: 5px;
    }
  }

  &__receita {
    @include flex(center, space-between);
    margin: 10px 0;
    width: 100%;
    flex-direction: row;

    input[type='radio'] {
      position: absolute;
      top: -100%;
      left: -100%;

      & + label {
        @include flex(center, center);
        width: 105px;

        cursor: pointer;
        border-radius: 3px;
        height: 50px;
        border-radius: 3px;
        padding: 10px 20px;
        transition: all 0.2s ease-in-out;
        @include themify($themes) {
          background-color: themed(mainColor);
          box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
        }
      }

      &:checked + label {
        background-color: rgba(145, 34, 232, 0.25);
      }

      &:hover + label {
        transform: scale(0.95, 0.95);
      }
      &:active + label {
        transform: scale(0.85, 0.85);
      }
    }
  }

  button {
    cursor: pointer;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    @include themify($themes) {
      color: themed(textCard);
      background-color: themed(mainColor);
      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
    }

    &:hover {
      transform: scale(0.95, 0.95);
    }

    &:active {
      transform: scale(0.85, 0.85);
    }
  }
}
