@use '../../scss/abstracts/' as *;

.container {
  position: relative;

  input {
    margin: 15px 0;
    border-radius: 10px;
    padding: 15px 20px;
    border: 2px solid #591ab1;
    width: 100%;
    letter-spacing: 0.1rem;
    @include themify($themes) {
      background-color: themed(mainColor);
      color: themed(textCard);
    }

    &:focus {
      outline: unset;
      @include themify($themes) {
        border-color: #3b9654;
        background-color: themed(mainColor);
      }
    }

    &:invalid ~ p {
      display: block;
    }
  }

  p {
    color: rgb(174, 32, 32);
    font-size: 13px;
    position: absolute;
    top: -3px;
    right: 5px;
    z-index: 999;
    display: none;
  }

  span {
    position: absolute;
    top: 5px;
    left: 15px;
    padding: 0 5px;

    @include themify($themes) {
      color: #3b9654;
      background-color: themed(mainColor);
    }
  }
}
