$themes: (
  light: (
    mainColor: #f8f8f8,
    background: #e9e9e9,
    button: #747989,
    buttonText: #835252,
    text: #27242c,
    textCard: #27242c,
    loginText: white,
  ),
  dark: (
    mainColor: #1e1e1e,
    background: #161616,
    button: #262a2b,
    buttonText: #5c3131,
    text: #ffffff,
    textCard: #c0bfbf,
    loginText: #c0bfbf,
  ),
);

$tablet-width: 1366px;
$mobile-width: 600px;
