@use '../../../../scss/abstracts/' as *;

.top {
  @include flex(center, space-between);
  width: 100%;
  padding: 0 1rem;

  &__dash {
    @include flex();

    &__icon {
      @include themify($themes) {
        color: themed(text);
        font-size: 3.4rem;
      }
    }
    &__info {
      @include flex(flex-start, center);
      flex-direction: column;
      margin-left: 0.7rem;

      h2 {
        font-size: 1.3rem;
        font-weight: 300;
      }

      span {
        margin-left: 1px;
        font-size: 0.95rem;
        font-weight: 200;
      }
    }
  }

  &__theme {
    @include flex();

    &__logo {
      font-size: 1.3rem;
      margin-left: 2rem;
      padding: 1.3rem 4.5rem;
      border-radius: 50px;
      @include themify($themes) {
        background-color: themed(mainColor);
      }
    }
  }
}
