@use './abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include themify($themes) {
    transition: background 10ms ease-in-out, color 10ms ease-in-out;
  }
}

html,
body,
#root {
  position: absolute;
  top: 0;
  font-family: 'Outfit', sans-serif;
  height: 100%;
  width: 100%;
  @include themify($themes) {
    background-color: themed(mainColor);
  }

  &::-webkit-scrollbar {
    width: 0px;
  }
}

@media screen and (min-width: 1366px) {
  .theme-dark,
  .theme-light {
    height: 100%;
  }
}

a {
  text-decoration: none;
  color: unset;
}
