@use './abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  @include themify($themes) {
    transition: background 10ms ease-in-out, color 10ms ease-in-out;
  }
}

body {
  overflow: hidden;
  font-family: 'Outfit', sans-serif;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}
