@use '../../scss/abstracts/' as *;

.title {
  margin: 3rem 0 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.alignTransaction {
  display: block;
  width: 100%;
  height: calc(100vh - 470px);
  overflow: auto;
  margin: 10px 2rem;

  &::-webkit-scrollbar {
    width: 0rem;
  }

  .transaction {
    margin: 10px auto 1.2rem auto;
    @include flex(center, space-between);
    border-radius: 10px;
    height: 80px;
    width: calc(100% - 20px);
    padding: 2rem 4rem;

    @include themify($themes) {
      background-color: themed(mainColor);
      color: themed(textCard);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }

    &__value {
      @include flex(center, center);
      flex-direction: column;
      width: 100px;

      span {
        &:first-child {
          font-weight: 500;
          font-size: 15px;
        }

        &:last-child {
          font-size: 14px;
          font-weight: 200;
        }
      }

      .zero {
        @include themify($themes) {
          color: themed(textCard);
        }
      }

      .greenValue {
        color: #3b9654;
      }

      .redValue {
        color: #fe3030;
      }
    }

    &__category {
      @include flex(center, flex-start);
      width: 125px;

      span {
        margin-left: 1rem;
      }
    }
    &__date {
      @include flex(center, center);
      width: 80px;

      span {
        margin-right: 4rem;
      }
    }
  }
}
